* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* UNIVERSAL DESIGN */
body {
	font-family: Papyrus;
	font-weight: 500;
	text-align: center;
}

.main-container {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.game-buttons {
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	border: wheat solid 3px;
	border-radius: 25px;
	box-sizing: border-box;
	color: wheat;
	cursor: pointer;
	flex-shrink: 0;
	font-family: Papyrus;
	font-size: 20px;
	font-weight: 900;
	height: 2.5rem;
	padding: 0 1.6rem;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all 0.5s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.game-buttons:hover {
	/* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; */
	box-shadow: wheat 0 1px 30px;
	transition: box-shadow 0.1s;
	font-size: 22px;
	transition: font-size 0.3s;
}

.message {
	color: wheat;
	font-size: 40px;
	text-shadow: 0 0 20px #000000;
}

/* NAMES SUBMISSION FORM PAGE */
#names-form-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;
	background-image: url("https://www.hdwallpapers.in/download/purple_planet_and_purple_space_hd_purple-1920x1080.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/* transition: 1.5s; */
}

.form-page-content {
	background-image: url("https://wallpaperaccess.com/full/1866562.png");
	background-size: cover;
	background-repeat: no-repeat;

	padding: 0 12px;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	transition: all 0.3s;
	transition: box-shadow 0.1s;
	height: 65vh;
	width: 30%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}
.form-page-content:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}

#title {
	font-size: 100px;
	padding: 0 12px;
	border-radius: 25px;
}
#title:hover {
	/* box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s; */
	color: #455eb5;
	/* color: yellow; */
	transition: color 0.3s;
	/* background-image: url("https://www.hdwallpapers.in/download/purple_planet_and_purple_space_hd_purple-1920x1080.jpg"); */
}

#form-message {
	font-size: 40px;
}

#form-table {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.form-table-row {
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	padding: 8px 12px;
	border: wheat solid 3px;
	border-radius: 25px;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}
.form-table-row:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}

.form-names {
	font-size: 25px;
	font-weight: 700;
	color: wheat;
}

.form-names-boxes {
	width: 200px;
	text-align: center;
	border-radius: 25px;
	background: wheat;
	font-family: Papyrus;
	font-size: 23px;
	font-weight: 700;
}
.form-names-boxes:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 25px;
	transition: font-size 0.3s;
}

/* IN-GAME PAGE */
#game-page {
	background-image: url("https://images.wallpaperscraft.com/image/single/rocks_castle_art_144967_2560x1080.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 10%;
}

.game-page-left-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.game-page-right-container {
	background-image: url("https://wallpaperaccess.com/full/1866562.png");
	background-size: cover;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	padding: 3rem;
	border-spacing: 10px;
}
.game-page-right-container:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}

#game-table {
	/* width: 800px; */
	/* height: 720px; */
	width: auto;
	height: auto;
	background-image: url("https://wallpaperaccess.com/full/1866562.png");
	background-size: cover;
	background-repeat: no-repeat;

	border: #455eb5 solid 5px;
	border-radius: 25px;
	padding: 2rem;
	border-spacing: 10px;
}
#game-table:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}

.slot {
	width: 100px;
	height: 100px;
	background-color: wheat;
	border: #455eb5 solid 3px;
	border-radius: 50%;
	transition: background-color 0.3s;
}

#game-counter {
	width: 370px;
	border: wheat solid 3px;
	border-radius: 25px;
	text-align: center;
	font-size: 23px;
	font-weight: 600;
	color: wheat;
	padding: 1.5rem;
}
#game-counter:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}
.gc-row,
.gc-column {
	border-bottom: wheat solid 3px;
	border-radius: 25px;
	padding: 0.5rem;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: wheat;
}
.gc-column:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 20px;
	transition: font-size 0.3s;
}
/* .gc-left {
	border-left: 0;
}
.gc-right {
	border-right: 0;
}
.gc-bottom {
	border-bottom: 0;
}
.gc-top {
	border-top: 0;
} */
#gc-title {
	font-size: 35px;
	font-weight: 700;
	border: wheat solid 1.5px;
	border-radius: 25px;
}
#gc-title:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 37px;
	transition: font-size 0.3s;
}
.gc-column-title {
	font-size: 25px;
	font-weight: 700;
}
.gc-column-title:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 27px;
	transition: font-size 0.3s;
}
#p1-color {
	color: red;
}
#p2-color {
	color: yellow;
}

#in-game-buttons {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

#winner-message,
#player-turn {
	background-image: url("https://wallpaperaccess.com/full/1866562.png");
	background-size: cover;

	padding: 10px;
	border: #455eb5 solid 5px;
	border-radius: 30px;
	justify-content: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all 0.5s;
}
#player-turn:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 42px;
	transition: font-size 0.3s;
}
#winner-message:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
	font-size: 42px;
	transition: font-size 0.3s;
}

/* Hover text for winner-message */
#player-message {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
#winning-hover-message #winning-hover-message-text {
	visibility: hidden;
	text-align: center;
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	padding: 5px;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	color: wheat;
	font-size: 15px;
	/* Position the tooltip text*/
	position: absolute;
	/* z-index: auto; ?? */
}
#winning-hover-message:hover #winning-hover-message-text {
	visibility: visible;
	box-shadow: wheat 0 1px 30px;
	transition: box-shadow 0.1s;
}
