* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* UNIVERSAL DESIGN */
body {
	font-family: Papyrus;
	font-weight: 500;
	text-align: center;
}

.game-buttons {
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	border: wheat solid 3px;
	border-radius: 25px;
	box-sizing: border-box;
	color: wheat;
	cursor: pointer;
	flex-shrink: 0;
	font-family: Papyrus;
	font-size: 20px;
	font-weight: 900;
	height: 2.5rem;
	padding: 0 1.6rem;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all 0.5s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.game-buttons:hover {
	/* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px; */
	box-shadow: wheat 0 1px 30px;
	transition: box-shadow 0.1s;
}

.message {
	color: wheat;
	font-size: 40px;
	text-shadow: 0 0 20px #000000;
}

/* NAMES SUBMISSION FORM PAGE */
#names-form-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100%;
	/* background-image: url("./images/planet-bg.png"); */
	background-image: url("./images/purple-planet.png");
	background-size: cover;
	background-repeat: no-repeat;
	/* transition: 1.5s; */
}

.form-page-content {
	background-image: url("./images/dark-night-bg.png");
	background-size: cover;
	background-repeat: no-repeat;

	padding: 2em;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	transition: all 0.3s;
	transition: box-shadow 0.1s;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
}

#title {
	font-size: 100px;
	padding: 0 12px;
	border-radius: 25px;
}
#title:hover {
	/* box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s; */
	color: #455eb5;
	/* color: yellow; */
	transition: color 0.3s;
}

#form-message {
	font-size: 40px;
}

#form-table {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

.form-table-row {
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	padding: 8px 12px;
	border: wheat solid 3px;
	border-radius: 25px;
	transition: all 0.5s;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.form-names {
	font-size: 25px;
	font-weight: 700;
	color: wheat;
}

.form-names-boxes {
	width: 200px;
	text-align: center;
	border-radius: 25px;
	background: wheat;
	font-family: Papyrus;
	font-size: 23px;
	font-weight: 700;
}

/* IN-GAME PAGE */
#game-page {
	min-height: 100vh;

	background-image: url("./images/rocks-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	min-width: 100%;
	padding: 5rem;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 3rem;
}

.game-page-left-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.game-page-right-container {
	background-image: url("./images/dark-night-bg.png");
	background-size: cover;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	padding: 3rem;
	border-spacing: 10px;
}

.gc-container {
	width: 100%;
}

#game-table {
	background-image: url("./images/dark-night-bg.png");
	background-size: cover;
	background-repeat: no-repeat;

	border: #455eb5 solid 5px;
	border-radius: 25px;
	padding: 2rem;
	border-spacing: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slot {
	min-width: 85px;
	height: 85px;
	background-color: wheat;
	border: #455eb5 solid 3px;
	border-radius: 50%;
	transition: background-color 0.3s;
}

#game-counter {
	text-align: center;
	font-size: 23px;
	font-weight: 600;
	color: wheat;
	min-width: 100%;
}

.gc-row,
.gc-column {
	border-bottom: wheat solid 3px;
	border-radius: 25px;
	padding: 0.5rem;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: wheat;
}
/* .gc-left {
	border-left: 0;
}
.gc-right {
	border-right: 0;
}
.gc-bottom {
	border-bottom: 0;
}
.gc-top {
	border-top: 0;
} */
#gc-title {
	font-size: 35px;
	font-weight: 700;
	border: wheat solid 1.5px;
	border-radius: 25px;
}

.gc-column-title {
	font-size: 25px;
	font-weight: 700;
}

#p1-color {
	color: red;
}
#p2-color {
	color: yellow;
}

#in-game-buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

#winner-message,
#player-turn {
	background-image: url("./images/dark-night-bg.png");
	background-size: cover;

	padding: 10px;
	border: #455eb5 solid 5px;
	border-radius: 30px;
	justify-content: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all 0.5s;
}

/* Hover text for winner-message */
#player-message {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
#winning-hover-message #winning-hover-message-text {
	visibility: hidden;
	text-align: center;
	background-image: linear-gradient(
		92.88deg,
		#455eb5 9.16%,
		#5643cc 43.89%,
		#673fd7 64.72%
	);
	padding: 5px;
	border: #455eb5 solid 5px;
	border-radius: 25px;
	color: wheat;
	font-size: 15px;
	/* Position the tooltip text*/
	position: absolute;
	/* z-index: auto; ?? */
}
#winning-hover-message:hover #winning-hover-message-text {
	visibility: visible;
	box-shadow: wheat 0 1px 30px;
	transition: box-shadow 0.1s;
}

/* UNIVERSAL HOVER */
#gc-title:hover,
#player-turn:hover,
#winner-message:hover,
.gc-column-title:hover,
.gc-column:hover,
.form-page-content:hover,
.form-table-row:hover,
#game-table:hover,
.game-page-right-container:hover,
.form-names-boxes:hover {
	box-shadow: wheat 0 0 15px;
	transition: box-shadow 0.1s;
}

@media screen and (max-width: 1500px) {
	#game-page {
		flex-direction: column;
		gap: 2rem;
	}

	.slot {
		min-width: 100px;
		height: 100px;
	}
}
